extends layout
block libraries
    link(rel='stylesheet', href='/stylesheets/about.css')

block content
    .main
      div
          img(src='/images/about/bg.jpg', height='450px', width='100%')
      .container
          .row
              .col-md-6
                  h1 Hiking
                  p I am a wanderlust who loves to climb hills and mountains.
              .col-md-6
                  .album
                      img.photo1(src='/images/about/hiking1.jpg')
                      img.photo2(src='/images/about/hiking2.jpg')
                      img.photo3(src='/images/about/hiking3.jpg')
          .row
              .col-md-6
                  .album
                      img.photo1(src='/images/about/hiking1.jpg')
                      img.photo2(src='/images/about/hiking2.jpg')
                      img.photo3(src='/images/about/hiking3.jpg')
              .col-md-6
                  h1 Paragliding
                  p Sometimes even high flying lessons will do.
          .row
              .col-md-6
                  h1 Snorkelling
                  p If not the sky, then the deep blue sea.
              .col-md-6
                  .album
                      img.photo1(src='/images/about/hiking1.jpg')
                      img.photo2(src='/images/about/hiking2.jpg')
                      img.photo3(src='/images/about/hiking3.jpg')
          .row
              .col-md-6
                  .album
                      img.photo1(src='/images/about/hiking1.jpg')
                      img.photo2(src='/images/about/hiking2.jpg')
                      img.photo3(src='/images/about/hiking3.jpg')
              .col-md-6
                  h1 Programming
                  p When time permits
