extends layout
block libraries
    link(rel='stylesheet', href='/stylesheets/certificates.css')

block content
    .main
        .container
            h1 Certificates
            .row
                .col-md-6
                    p
                        b Platform: 
                        | Edx
                    p
                        b University: 
                        | Massachusetts Institute of Technology
                    p
                        b Course: 
                        | 6.001x
                    br
                    p
                        | This course is the first of a two-course sequence: Introduction to Computer Science and Programming Using Python, and Introduction to Computational Thinking and Data Science. Together, they are designed to help people with no prior exposure to computer science or programming learn to think computationally and write programs to tackle useful problems
                .col-md-6
                    a(href='https://verify.edx.org/cert/78f0e94060b94978849e78ffd5a353e7')
                        img(src='/images/certificates/6.001x.jpg')
            .row
                .col-md-6
                    a(href='https://verify.edx.org/cert/da323345d13c4e5f8127aa40890300c4')
                        img(src='/images/certificates/6.002x.jpg')
                .col-md-6
                    p
                        b Platform: 
                        | Edx
                    p
                        b University: 
                        | Massachusetts Institute of Technology
                    p
                        b Course: 
                        | 6.002x
                    br
                    p
                        | 6.00.2x will teach you how to use computation to accomplish a variety of goals and provides you with a brief introduction to a variety of topics in computational problem solving . This course is aimed at students with some prior programming experience in Python and a rudimentary knowledge of computational complexity.
            .row
                .col-md-6
                    p
                        b Platform: 
                        | Coursera
                    p
                        b University: 
                        | Rice University
                    p
                        b Course: 
                        | An Introduction to Interactive programming in Python
                    br
                    p
                .col-md-6
                    a(href='#')
                        img(src='/images/certificates/python.jpg')
            .row
                .col-md-6
                    a(href='#')
                        img(src='/images/certificates/networks.jpg')
                .col-md-6
                    p
                        b Platform: 
                        | Coursera
                    p
                        b University: 
                        | University of Washington
                    p
                        b Course: 
                        | Computer Networks
                    br
                    p
            .row
                .col-md-6
                    p
                        b Platform: 
                        | Coursera
                    p
                        b University: 
                        | University of New Mexico
                    p
                        b Course: 
                        | Web Application Architectures
                    br
                    p
                .col-md-6
                    a(href='https://verify.edx.org/cert/78f0e94060b94978849e78ffd5a353e7')
                        img(src='/images/certificates/rubyrails.jpg')

