extends layout

block libraries
    link(rel='stylesheet', href='/stylesheets/index.css')

block content
    // Begin page content
    .main
        .container
            h1 Follow
            p your passion. When work is fun, it is no longer work.

