- var HOMEPAGE = false
block variables

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/bootstrap.min.js')
  body
    include ./includes/navbar.jade
    if HOMEPAGE
      include ./includes/showcase.jade
    .container
      // Example row of columns
      block content
      
      hr
      footer
        p © 2016 Company, Inc.

